# {{ ansible_managed }}

region = "{{ nomad_region }}"
datacenter = "{{ nomad_datacenter }}"
{% if nomad_name %}
name = "{{ nomad_name }}"
{% endif %}
data_dir = "{{ nomad_data_dir }}"
log_level = "{{ nomad_log_level }}"
bind_addr = "{{ nomad_bind_addr }}"
{% if nomad_enable_debug %}
enable_debug = true
{% else %}
enable_debug = false
{% endif %}
consul {
  address = "{{ nomad_consul_address_http }}"
  auto_advertise = {{ nomad_consul_auto_advertise }}
  checks_use_advertise = {{ nomad_consul_checks_use_advertise }}
  client_auto_join = {{ nomad_consul_client_auto_join }}
  client_service_name = "{{ nomad_consul_client_service_name }}"
  server_auto_join = {{ nomad_consul_server_auto_join }}
  server_service_name = "{{ nomad_consul_server_service_name }}"
  ssl = {{ nomad_consul_ssl }}
  verify_ssl = {{ nomad_consul_verify_ssl }}

{% if nomad_consul_ca_file %}
  ca_file = "{{ nomad_consul_ca_file }}"
{% endif %}
{% if nomad_consul_cert_file and nomad_consul_key_file %}
  cert_file    = "{{ nomad_consul_cert_file }}"
  key_file    = "{{ nomad_consul_key_file }}"
{% endif %}
{% if nomad_consul_auth %}
  auth    = "{{ nomad_consul_auth }}"
{% endif %}
{% if nomad_consul_token %}
  token   = "{{ nomad_consul_token }}"
{% endif %}
}
ports {
  http = {{ nomad_ports_http }}
{% if nomad_ports_rpc %}
  rpc = {{ nomad_ports_rpc }}
{% endif %}
{% if nomad_ports_serf %}
  serf = {{ nomad_ports_serf }}
{% endif %}
}
addresses {
  http = "{{ nomad_addresses_http }}"
{% if nomad_addresses_rpc %}
  rpc = "{{ nomad_addresses_rpc }}"
{% endif %}
{% if nomad_addresses_serf %}
  serf = "{{ nomad_addresses_serf }}"
{% endif %}
}
advertise {
{% if nomad_advertise_http and nomad_ports_http %}
  http = "{{ nomad_advertise_http }}:{{ nomad_ports_http }}"
{% endif %}
{% if nomad_advertise_rpc and nomad_ports_rpc %}
  rpc = "{{ nomad_advertise_rpc }}:{{ nomad_ports_rpc }}"
{% endif %}
{% if nomad_advertise_serf and nomad_ports_serf %}
  serf = "{{ nomad_advertise_serf }}:{{ nomad_ports_serf }}"
{% endif %}
}
{% if nomad_telemetry %}
telemetry {
{% if nomad_telemetry_statsite_address %}
  statsite_address = "{{ nomad_telemetry_statsite_address }}"
{% endif %}
{% if nomad_telemetry_statsd_address %}
  statsd_address = "{{ nomad_telemetry_statsd_address }}"
{% endif %}
{% if nomad_telemetry_disable_hostname %}
  disable_hostname = true
{% else %}
  disable_hostname = false
{% endif %}
}
{% endif %}
{% if nomad_leave_on_interrupt %}
leave_on_interrupt = true
{% else %}
leave_on_interrupt = false
{% endif %}
{% if nomad_leave_on_terminate %}
leave_on_terminate = true
{% else %}
leave_on_terminate = false
{% endif %}
{% if nomad_enable_syslog %}
enable_syslog = true
{% else %}
enable_syslog = false
{% endif %}
{% if nomad_syslog_facility and nomad_enable_syslog %}
syslog_facility = "{{ nomad_syslog_facility }}"
{% endif %}
{% if nomad_disable_update_check %}
disable_update_check = true
{% else %}
disable_update_check = false
{% endif %}
{% if nomad_disable_anonymous_signature %}
disable_anonymous_signature = true
{% else %}
disable_anonymous_signature = false
{% endif %}
